.Header {
    background-image: url("../../public/AuradevBannerLarge.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #EFEFEF;
    display: flex;
    height: 1000px;
    padding: 0 120px;
}
@media (max-width: 1390px) {
    .Header {
        background-size: cover;
    }
}
@media (max-width: 768px) {
    .Header {
        background-image: url("../../public/AuradevBannerTall.png");
        background-size: cover;
        height: 900px;
        padding: 0 20px;
    }
}