.Homepage {
    margin: 0 0 0 150px;
    top: 0;
    position: absolute;
    width: 90%;
    .iframes {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
        iframe {
            margin-bottom: 1%;
            width: 100%;
        }
    }
    .theme {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 50px;
        width: 100%;
    }
    .gallery {
        padding: 12em;
        width: 70%;
        img {
            width: 30%;
        }
    }
    .dates {
        width: 50%;
        div {
          display: flex;
          justify-content: space-between;
        }
    }

    @media (max-width: 1180px) {
        margin: 0 0 0 50px;
        .theme {
            justify-content: flex-start;
        }
        .iframes {
            iframe {
                margin-bottom: 1%;
                width: 80%;
            }
        }
        .dates {
            margin-left: -10px;
            text-align: center;
        }
    }

    @media (max-width: 500px) {
        margin: 0 0 0 20px;
        .iframes {
            iframe {
                width: 90%;
            }
        }
    }
}