.Homepage {
    margin: 50px 70px;
    iframe {
        width: 100%;
    }
    .gallery {
        margin: 200px 0;
        padding: 0 15% 50px;
        position: relative;
        width: 70%;
        img {
            width: 33%;
        }
        h1 {
            color: #F8F8F8;
            font-size: 2.5vw;
            position: absolute;
        }
    }
    .dates {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0;
        width: 100%;
        div {
          display: flex;
          justify-content: space-between;
          width: 50%;
        }
    }
    h1.left {
        top: 8%;
        left: 21%;
    }
    h1.center {
        color: black;
        top: 40%;
        left: 44%;
    }
    h1.right {
        bottom: 15%;
        right: 27%;
    }
}
@media (max-width: 1500px) {
    .Homepage {
        .dates {
            width: 100%;
            div {
                width: 100%;
            }
        }
    }
}
@media (max-width: 768px) {
    .Homepage {
        margin: 20px 20px;
        .dates {
            margin: 20px 0 50px;
            width: 100%;
            div {
                width: 100%;
            }
        }
        .gallery {
            margin: 20px 0 50px;
            padding: 0;
            width: 100%;
        }
        h1.left {
            top: 10%;
            left: 12%;
        }
        h1.center {
            color: black;
            top: 45%;
            left: 47%;
        }
        h1.right {
            bottom: 12%;
            right: 13%;
        }
    }
}