.App {
  color:#EFEFEF;
  height: 1500px;
  overflow: hidden;
  position: relative;
  width: 100%;
  img{
    width: 100%;
  }
  img.rotate {
    margin-top: -4px;
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
  }

  @media (max-width: 1180px) {
    height: 1400px;
  }

  @media (max-width: 415px) {
    height: 1000px;
  }

  @media (max-width: 375px) {
    height: 900px;
  }

  @media (max-width: 280px) {
    height: 725px;
  }
}

.AppHeader {
  height: 80px;
  display: flex;
  font-size: calc(10px + 2vmin);
  position: absolute;
  top: 0;
}