body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Lato-Regular';
  src: local('Lato-Regular'), url(./fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: local('Lato-LightItalic'), url(./fonts/Lato-LightItalic.ttf) format('truetype');
}

h1.bg {
  font-family: 'Lato-Regular';
  font-size: 5vw;
}
h2.md {
  font-family: 'Lato-LightItalic';
  font-size: 2.5vw;
}
h3.md {
  font-family: 'Lato-LightItalic';
  font-size: 2.5vw;
}
h4.md {
  font-family: 'Lato-LightItalic';
  font-size: 1vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
