.Footer {
   align-items: flex-end;
   background-image: url("../../public/AuradevBanner.png");
   background-repeat: no-repeat;
   background-size: 100%;
   color: #EFEFEF;
   display: flex;
   height: 150px;
   justify-content: center;
}
@media (max-width: 768px) {
   .Footer {
      height: 70px;
   }
}